<div>
  <div class="upload-container-wrapper">
    <div class="js-preview-upload-container preview-upload-container image-upload-container">
      <div class="js-image-upload-wrapper image-upload-wrapper">
        <div class="js-upload-button image-upload">
          {{>uploadIcon}}
        </div>
      </div>
    </div>
  </div>

  <div class="js-preview-crop-canvas hide"></div>
</div>
