<div class="suggestion-list">
  <ul>
    {{#suggestions}}
      <li class="js-suggestion-item suggestion-item" data-src="{{src}}">
        <img src="{{src}}" style="height:100%;width:100%;overflow:hidden"/>
      </li>
    {{/suggestions}}
    <li class="upload-btn suggestion-item js-upload-btn"></li>
  </ul>
</div>
