<div class="suggestion-list">
  <ul>
    {{#suggestions}}
      <li class="js-suggestion-item suggestion-item" style="width:100px;height:100px;display:inline-block;cursor:pointer" data-src="{{src}}">
        <img src="{{src}}" style="height:100%;width:100%;overflow:hidden"/>
      </li>
    {{/suggestions}}
    <li class="upload-btn suggestion-item"></li>
  </ul>
</div>
