<div class="js-upload-button image-upload">
  <div class="image-upload-text">Upload new cover image</div>
  <div class="image-upload-subtext">This will not affect your Behance cover image</div>
</div>
