<div class="upload-container-wrapper">
  {{#backgroundImage}}
  <img class="upload-background-image" src="{{backgroundImage}}"/>
  {{/backgroundImage}}
  <div class="js-image-upload-wrapper image-upload-wrapper">
    <div class="js-upload-button image-upload">
      {{>uploadIcon}}
      {{#titleText}}
      <div class="image-upload-text js-image-upload-text">{{titleText}}</div>
      {{/titleText}}
      {{#subtitleText}}
      <div class="image-upload-subtext js-image-upload-subtext">{{subtitleText}}</div>
      {{/subtitleText}}
    </div>
  </div>
</div>
