<div class="js-croploader image-upload-content">
  <div class="js-upload-container image-upload-container"></div>
  <div class="js-crop-container image-crop-area"></div>

  <div class="js-crop-controls image-crop-controls"></div>
  <div class="js-suggestions"></div>
  <div class="js-preview-crop-container"></div>
</div>

