<div class="js-croploader image-upload-content">
  <div class="js-image-container image-upload-container">
    <!--<div class="js-upload-button image-upload">-->
      <!--<div class="image-upload-text">Upload new cover image</div>-->
      <!--<div class="image-upload-subtext">This will not affect your Behance cover image</div>-->
    <!--</div>-->
  </div>

  <div class="js-crop-controls image-crop-controls">
    <div class="slider-container">
        <input class="js-scale-slider" type="range" min=0 max=100 value=100 />
    </div>
  </div>
</div>

